body {
  padding: 0;
}

#hd {
  left: 0;
  right: 0;
  top: 0;
  margin: 0;
}

#searchField {
  font-size: 25px;
  line-height: 25px;
  height: 30px;
  font-weight: bold;
}

.accountMenu {
  font-size: 18px;
}

.nav-item a {
  font-size: 24px;
  line-height: 24px;
}

.nav-item-current a {
  font-size: 24px;
  line-height: 24px;
}

#BobMovie {
  width: 500px;
}

#BobMovie .interactive .bobMovieHeader a {
  font-size: 30px;
  font-weight: bold;
}

#BobMovie .interactive .bobMovieContent {
  font-size: 25px;
  font-weight: bold;
}

.subnav-wrap .subnav-tabs a {
  font-size: 22px;
  padding: 12px 18px;
}

.global-header-wrap .subnav-wrap a {
  font-size: 20px;
  padding: 10px 13px;
}

.global-header .ui-autocomplete {
  width: 452px !important;
}

.global-header .ui-autocomplete li a {
  width: 338px;
  font-size: 20px;
}

.global-header .ui-autocomplete li.beginRow span {
  right: 349px;
  font-size: 18px;
}

/* Rental history page */

#rental-history tr td.first-of-type {
  font-size: 25px;
  font-weight: bold;
  width: 70%;
}

#fground {
  width: auto;
}
